
.world-accordion {
    display: flex;
    width: 100%;
    height: 70vh; /* Chiều cao vùng hiển thị */
    gap: 0; /* Không để khoảng cách để tạo cảm giác liền mạch */
}

.nation-card {
    position: relative;
    flex: 1; /* Tất cả các ô chia đều ban đầu */
    background-size: cover;
    background-position: center;
    transition: all 0.7s cubic-bezier(0.25, 0.4, 0.45, 1.4); /* Hiệu ứng phình to cực mượt */
    cursor: pointer;
    filter: grayscale(90%); /* Hơi xám nhẹ khi chưa chọn */
    border-radius: 15px;
}

/* KHI DI CHUỘT VÀO: Ô đó chiếm 50% diện tích */
.nation-card:hover {
    flex: 8; 
    filter: grayscale(0%); /* Sáng bừng màu sắc */
}

/* Hiệu ứng chữ bên trong */
.nation-content {
    position: absolute;
    bottom: 50px;
    left: 40px;
    color: white;
    white-space: nowrap; /* Tránh chữ bị nhảy dòng khi ô thu nhỏ */
    opacity: 0;
    transition: 0.3s;
}

/* Chỉ hiện chữ khi ô đủ rộng (Hover) */
.nation-card:hover .nation-content {
    opacity: 1;
    transition-delay: 0.4s;
}

.nation-content h3{
    font-family: 'Teko', sans-serif;
    font-size: clamp(2rem, 5vw, 4rem);
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}
.MON{
    color: #73E1B0;
}
.LYU{
    color: #FABD48;
}
.INA{
    color: #B186D1;
}
.SUME{
    color: #48C01B;
}
.FONT{
    color: #3DB5FF;
}
.NAT{
    color: #FF4B3E;
}
.nation-card p{
    font-size: clamp(1rem, 4vw, 2rem);
    font-family: sans-serif;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}
.headddd {
    position: -webkit-sticky; /* Hỗ trợ Safari */
    position: sticky; 
    top: 100px; /* Cách mép trên màn hình 100px khi đang cuộn trong section */
    left: 5%;
    z-index: 10;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
    padding-left: 15px;
    width: fit-content; /* Chỉ rộng bằng đúng chữ */
    font-size: clamp(1.2rem, 3vw, 3.0rem);
    font-family: 'Cinzel', serif;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
}

/* --- XỬ LÝ CHO MÀN HÌNH BÉ (ĐIỆN THOẠI) --- */
@media (max-width: 768px) {
    .world-accordion {
        flex-direction: column; /* Chuyển thành hàng dọc */
        height: 120vh; /* Tăng chiều cao tổng để dễ cuộn */
    }

    .nation-card {
        flex: 1; /* Chia đều chiều cao */
        width: 100%;
    }

    /* Khi chạm vào trên điện thoại, nó sẽ phình theo chiều cao */
    .nation-card:active, .nation-card:hover {
        flex: 5; 
    }

    .nation-content {
        bottom: 20px;
        left: 20px;
    }
}