.nutbam {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 40px;
    text-decoration: none;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.4s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Hiệu ứng khi di chuột vào (Hover) */
.nutbam:hover {
    transform: scale(1.2); /* Phóng to nhẹ */
    
}

.nutbam:hover::after {
    opacity: 0.7;
}
.nutbamgen{
    border: 2px solid;
    border-image: linear-gradient(45deg, #6a5acd, #007bff, #f3c316) 1;
    background: #0a0a0a;
    color: white; 
    backdrop-filter: blur(10px);
}
.nutbamhsr{
    border: 2px solid;
    border-image: linear-gradient(45deg, #6a5acd, #4dd0e1) 1;
    background: #1b1f3b;
    color: white; 
    backdrop-filter: blur(10px);
}
.nutbam3z{
    border: 2px solid;
    border-image: linear-gradient(135deg, #ff2e93, #00e5ff) 1;
    background: #0a0a0a;
    color: white; 
    backdrop-filter: blur(10px);
}