
.as {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh luôn lấp đầy khung */
}
.git {
    font-family: 'Cinzel', serif;
    font-size: (2rem, 4vw, 3rem);
    font-weight: 700;
    max-width: 400px;
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.5));
    position: relative;
    /* Tạo khoảng trống để hiện thanh ngang */
    margin-bottom: 2vw;
    background:  #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 10px rgba(154, 223, 255, 0.3));
    transform: translateY(10px);
}
.logogi{
    width: 55px;        /* Chiều rộng hiển thị thực tế */
    height: 55px;       /* Chiều cao tương ứng */
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)); /* Tạo hiệu ứng hào quang nhẹ */
    transition: transform 0.3s ease; /* Thêm chút hiệu ứng mượt mà */
    border-radius: 10px;
}
.tieude{
    display:flex;
    align-items: center;
    gap: 15px;
}
.kengang {
    width: 120px;             /* Độ dài thanh ngang */
    height: 3px;
    background: #ffffff;     /* Hoặc dùng màu tím-xanh của ông */
    margin: 15px 0;          /* 15px cách trên dưới, 0 cách trái để sát lề */
    border-radius: 2px;
}
.db1 {
    color: #ffc107;
    font-weight: bold;
}
.hsrlogo {
    font-family: 'Michroma', sans-serif;
    font-weight: 800;          /* Rất đậm */
    font-style: italic; 
    text-shadow: 0 0 10px rgba(135, 206, 235, 0.5);
    font-size: 22px;    /* Logo HSR hơi nghiêng một tí về bên phải */
}
.db2{
    color: #00f2ff;
    text-shadow: 0 0 8px rgba(0, 242, 255, 0.6);
    font-weight: 700;
    text-transform: uppercase;
}
.zzztt {
    font-family: 'Teko', sans-serif;
    text-shadow: 0 0 12px rgba(252, 81, 146, 0.7);

}
.db3{
    color: #ffde00;
    font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 8px rgba(255, 222, 0, 0.4);
}
.ether{
    color: #00f2ff; /* Mình chọn Xanh Cyan vì nó rất hợp với nền đen */
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 8px rgba(0, 242, 255, 0.4);
}
